.header {
    grid-area: h;
    background-color: lightgray;
}
.header img {
    width: 50px;
    border-radius: 10px;
}

.loginBlock {
    float: right;
    margin-right: 10px;
}

.loginBlock a {
    color: white;
}