.nav {
    background-color: darkslategrey;
    padding: 30px;
    height: 100vh;
    min-width: 15vh;
    display: inline-block;
}

.item a{
    color: azure;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}