.nav {
    grid-area: n;
    background-color: darkslategrey;
    padding: 30px;
    min-height: 100%;
}

.item a{
    color: azure;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}