.dialogs {
    height: 100vh;
}

.dialogsItems .dialog {
    padding: 5px;
    color: darkslategrey;
}

.dialogsItems .active {
    color: gold;
}

.messages {

}

.messages .message {
    padding: 5px;
    color: darkorange;
}

.item a{
    text-decoration: none;
    color: darkslategrey;
}
